<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido a Edutec</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container text-center mt-5">
        <h1>Bienvenido a Edutec</h1>
        <p>Desde aquí puedes gestionar los alumnos y cursos.</p>
        <a href="{% url 'lista_alumnos' %}" class="btn btn-primary">Ver Lista de Alumnos</a>
    </div>
</body>
</html>
